@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../home/mazikwyry/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../home/mazikwyry/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../home/mazikwyry/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../home/mazikwyry/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../home/mazikwyry/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../home/mazikwyry/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../home/mazikwyry/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../home/mazikwyry/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../home/mazikwyry/.rvm/gems/ruby-1.9.3-p448/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Constants and Mixins*/
/* Base */
/*MazikCSSceleton*/
/* line 74, ../sass/style.scss */
html {
  font-size: 62.5%;
}

/* line 76, ../sass/style.scss */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  color: #231f20;
  font-size: 1.6rem;
  font-weight: 300;
}

/* line 85, ../sass/style.scss */
div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 89, ../sass/style.scss */
a, a:link, a:hover {
  color: #231f20;
  text-decoration: none;
}

/* line 95, ../sass/style.scss */
.f8 {
  font-size: 0.8rem !important;
}

/* line 95, ../sass/style.scss */
.f9 {
  font-size: 0.9rem !important;
}

/* line 95, ../sass/style.scss */
.f10 {
  font-size: 1rem !important;
}

/* line 95, ../sass/style.scss */
.f11 {
  font-size: 1.1rem !important;
}

/* line 95, ../sass/style.scss */
.f12 {
  font-size: 1.2rem !important;
}

/* line 95, ../sass/style.scss */
.f13 {
  font-size: 1.3rem !important;
}

/* line 95, ../sass/style.scss */
.f14 {
  font-size: 1.4rem !important;
}

/* line 95, ../sass/style.scss */
.f15 {
  font-size: 1.5rem !important;
}

/* line 95, ../sass/style.scss */
.f16 {
  font-size: 1.6rem !important;
}

/* line 95, ../sass/style.scss */
.f17 {
  font-size: 1.7rem !important;
}

/* line 95, ../sass/style.scss */
.f18 {
  font-size: 1.8rem !important;
}

/* line 95, ../sass/style.scss */
.f19 {
  font-size: 1.9rem !important;
}

/* line 95, ../sass/style.scss */
.f20 {
  font-size: 2rem !important;
}

/* line 95, ../sass/style.scss */
.f21 {
  font-size: 2.1rem !important;
}

/* line 95, ../sass/style.scss */
.f22 {
  font-size: 2.2rem !important;
}

/* line 95, ../sass/style.scss */
.f23 {
  font-size: 2.3rem !important;
}

/* line 95, ../sass/style.scss */
.f24 {
  font-size: 2.4rem !important;
}

/* line 95, ../sass/style.scss */
.f25 {
  font-size: 2.5rem !important;
}

/* line 95, ../sass/style.scss */
.f26 {
  font-size: 2.6rem !important;
}

/* line 95, ../sass/style.scss */
.f27 {
  font-size: 2.7rem !important;
}

/* line 95, ../sass/style.scss */
.f28 {
  font-size: 2.8rem !important;
}

/* line 95, ../sass/style.scss */
.f29 {
  font-size: 2.9rem !important;
}

/* line 95, ../sass/style.scss */
.f30 {
  font-size: 3rem !important;
}

/* line 95, ../sass/style.scss */
.f31 {
  font-size: 3.1rem !important;
}

/* line 95, ../sass/style.scss */
.f32 {
  font-size: 3.2rem !important;
}

/* line 95, ../sass/style.scss */
.f33 {
  font-size: 3.3rem !important;
}

/* line 95, ../sass/style.scss */
.f34 {
  font-size: 3.4rem !important;
}

/* line 95, ../sass/style.scss */
.f35 {
  font-size: 3.5rem !important;
}

/* line 95, ../sass/style.scss */
.f36 {
  font-size: 3.6rem !important;
}

/* line 95, ../sass/style.scss */
.f37 {
  font-size: 3.7rem !important;
}

/* line 95, ../sass/style.scss */
.f38 {
  font-size: 3.8rem !important;
}

/* line 95, ../sass/style.scss */
.f39 {
  font-size: 3.9rem !important;
}

/* line 95, ../sass/style.scss */
.f40 {
  font-size: 4rem !important;
}

/* line 99, ../sass/style.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 106, ../sass/style.scss */
p {
  margin: 1.6rem 0;
}

/* line 111, ../sass/style.scss */
.twenty-five-box {
  width: 25%;
}

/* line 112, ../sass/style.scss */
.thirty-box {
  width: 30%;
}

/* line 113, ../sass/style.scss */
.thirty-two-box {
  width: 32%;
}

/* line 114, ../sass/style.scss */
.thirty-three-box {
  width: 33.33%;
}

/* line 115, ../sass/style.scss */
.thirty-five-box {
  width: 35%;
}

/* line 116, ../sass/style.scss */
.fourty-box {
  width: 40%;
}

/* line 117, ../sass/style.scss */
.fourty-five-box {
  width: 45%;
}

/* line 118, ../sass/style.scss */
.half-box {
  width: 50%;
}

/* line 119, ../sass/style.scss */
.fifty-five-box {
  width: 55%;
}

/* line 120, ../sass/style.scss */
.sixty-five-box {
  width: 65%;
}

/* line 121, ../sass/style.scss */
.sixty-box {
  width: 60%;
}

/* line 122, ../sass/style.scss */
.seventy-box {
  width: 70%;
}

/* line 123, ../sass/style.scss */
.seventy-five-box {
  width: 75%;
}

/* line 124, ../sass/style.scss */
.width100 {
  width: 100%;
}

/* line 127, ../sass/style.scss */
.right {
  float: right;
}

/* line 128, ../sass/style.scss */
.left {
  float: left;
}

/* line 129, ../sass/style.scss */
.no-float {
  float: none !important;
}

/* line 130, ../sass/style.scss */
.cl {
  clear: both;
  width: 100%;
}

/* line 133, ../sass/style.scss */
.align-center {
  text-align: center;
}

/* line 134, ../sass/style.scss */
.align-left {
  text-align: left;
}

/* line 135, ../sass/style.scss */
.align-right {
  text-align: right;
}

/* line 136, ../sass/style.scss */
.align-justify {
  text-align: justify;
}

/* line 139, ../sass/style.scss */
.no-margin {
  margin: 0px !important;
}

/* line 140, ../sass/style.scss */
.no-margin-top {
  margin-top: 0px !important;
}

/* line 141, ../sass/style.scss */
.big-vertical-separator {
  margin: 30px 0;
}

/* line 142, ../sass/style.scss */
.vertical-separator {
  margin: 10px 0;
}

/* line 143, ../sass/style.scss */
.margin-top {
  margin-top: 15px;
}

/* line 144, ../sass/style.scss */
.margin-top30 {
  margin-top: 30px;
}

/* line 145, ../sass/style.scss */
.margin-top-half {
  margin-top: 8px;
}

/* line 146, ../sass/style.scss */
.margin-top-quarter {
  margin-top: 4px;
}

/* line 147, ../sass/style.scss */
.margin-bottom {
  margin-bottom: 15px;
}

/* line 148, ../sass/style.scss */
.margin-bottom-quarter {
  margin-bottom: 4px;
}

/* line 149, ../sass/style.scss */
.margin-right {
  margin-right: 10px;
}

/* line 150, ../sass/style.scss */
.margin-left {
  margin-left: 10px;
}

/* line 151, ../sass/style.scss */
.margin-right5 {
  margin-right: 5px;
}

/* line 152, ../sass/style.scss */
.margin-left5 {
  margin-left: 5px;
}

/* line 153, ../sass/style.scss */
.margin-vertical {
  margin: 10px auto;
}

/* line 154, ../sass/style.scss */
.margin-vertical20 {
  margin: 20px auto;
}

/* line 155, ../sass/style.scss */
.margin-horizontal {
  margin: 0px 10px;
}

/* line 156, ../sass/style.scss */
.auto {
  margin: auto;
}

/* line 159, ../sass/style.scss */
.none {
  display: none;
}

/* line 160, ../sass/style.scss */
.inline {
  display: inline;
}

/* line 161, ../sass/style.scss */
.block {
  display: block !important;
}

/* line 162, ../sass/style.scss */
.inline-block {
  display: inline-block !important;
}

/* line 165, ../sass/style.scss */
.padding5 {
  padding: 5px;
}

/* line 166, ../sass/style.scss */
.padding10 {
  padding: 10px;
}

/* line 167, ../sass/style.scss */
.padding15 {
  padding: 15px;
}

/* line 168, ../sass/style.scss */
.padding20 {
  padding: 20px;
}

/* line 169, ../sass/style.scss */
.no-padding {
  padding: 0px !important;
}

/* line 170, ../sass/style.scss */
.no-padding-left {
  padding-left: 0px !important;
}

/* line 171, ../sass/style.scss */
.no-padding-right {
  padding-right: 0px !important;
}

/* line 172, ../sass/style.scss */
.no-vertical-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 175, ../sass/style.scss */
.lowercase {
  text-transform: none;
}

/* line 176, ../sass/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 177, ../sass/style.scss */
.b300 {
  font-weight: 300;
}

/* line 178, ../sass/style.scss */
.b400 {
  font-weight: 400;
}

/* line 179, ../sass/style.scss */
.b700 {
  font-weight: 700;
}

/* line 180, ../sass/style.scss */
.b800 {
  font-weight: 800;
}

/* line 183, ../sass/style.scss */
.relative {
  position: relative;
}

/* line 184, ../sass/style.scss */
.absolute {
  position: absolute;
}

/* line 185, ../sass/style.scss */
.vertical-align-top {
  vertical-align: top;
}

/* line 186, ../sass/style.scss */
.fixed {
  position: fixed;
}

/* line 188, ../sass/style.scss */
.top1 {
  top: 1px !important;
}

/* line 188, ../sass/style.scss */
.top2 {
  top: 2px !important;
}

/* line 188, ../sass/style.scss */
.top3 {
  top: 3px !important;
}

/* line 188, ../sass/style.scss */
.top4 {
  top: 4px !important;
}

/* line 188, ../sass/style.scss */
.top5 {
  top: 5px !important;
}

/* line 188, ../sass/style.scss */
.top6 {
  top: 6px !important;
}

/* line 188, ../sass/style.scss */
.top7 {
  top: 7px !important;
}

/* line 188, ../sass/style.scss */
.top8 {
  top: 8px !important;
}

/* line 188, ../sass/style.scss */
.top9 {
  top: 9px !important;
}

/* line 188, ../sass/style.scss */
.top10 {
  top: 10px !important;
}

/* line 192, ../sass/style.scss */
.core-color {
  color: #aca152;
}

/* line 193, ../sass/style.scss */
.core-color-bg {
  color: #aca152;
}

/* line 194, ../sass/style.scss */
.contrast-color {
  color: #ffffff;
}

/* Layout */
/* line 199, ../sass/style.scss */
h1 {
  font-size: 4.2rem;
  font-weight: 200;
}

/* line 204, ../sass/style.scss */
h4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 210, ../sass/style.scss */
ul {
  list-style-type: square;
  padding-left: 30px;
}

/* line 216, ../sass/style.scss */
.content {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  position: relative;
}

/* line 223, ../sass/style.scss */
.button {
  display: inline-block;
  border: 0;
  padding: 20px 20px;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: #aca152;
  -moz-box-shadow: 4px 5px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 5px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 4px 5px 0 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-weight: 700;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 236, ../sass/style.scss */
.button.with-image img {
  height: 1.5rem;
  display: inline-block;
  margin-right: 10px;
}

/* line 245, ../sass/style.scss */
.subtitle {
  position: relative;
  font-size: 2.0rem;
  display: inline-block;
  width: 50%;
  height: 5px;
  background-color: #ded9b9;
  margin: 20px auto 40px;
  font-weight: 300;
  text-align: center;
}
/* line 255, ../sass/style.scss */
.subtitle::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px;
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Chrome, Safari, Opera */
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #ded9b9 transparent transparent transparent;
}

/* line 272, ../sass/style.scss */
.long_text {
  color: #aca152;
  text-align: justify;
}
/* line 275, ../sass/style.scss */
.long_text--bigger_center {
  text-align: center;
  font-size: 1.8rem;
}

/* line 281, ../sass/style.scss */
.price {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #fff;
  padding: 10px;
  color: #aca152;
  font-size: 2.0rem;
  -moz-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.05);
}
/* line 290, ../sass/style.scss */
.price::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 0;
  border-color: transparent #fff transparent transparent;
}
/* line 301, ../sass/style.scss */
.price.core-bg {
  background-color: #eeecdc;
}
/* line 303, ../sass/style.scss */
.price.core-bg::after {
  border-color: transparent #eeecdc transparent transparent;
}

/* line 309, ../sass/style.scss */
strong {
  font-weight: 700;
}

/* line 313, ../sass/style.scss */
.very-strong {
  font-weight: 800;
}

/* Modules */
/* line 320, ../sass/style.scss */
.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #857e54;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
/* line 327, ../sass/style.scss */
.header-top_nav {
  text-align: center;
}
/* line 329, ../sass/style.scss */
.header-top_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 334, ../sass/style.scss */
.header-top_nav-item {
  display: inline-block;
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 70px;
  margin: 0 1%;
  padding-top: 5px;
  border-bottom: 5px solid transparent;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
/* line 344, ../sass/style.scss */
.header-top_nav-item a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
  cursor: pointer;
}
/* line 349, ../sass/style.scss */
.header-top_nav-item:hover {
  border-bottom: 5px solid #e3e0cd;
}
/* line 354, ../sass/style.scss */
.header.white {
  background-color: #fff;
  border-bottom: 1px solid #e3e0cd;
}
/* line 357, ../sass/style.scss */
.header.white a {
  color: #aca152;
}

/* line 363, ../sass/style.scss */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  background: url("../gfx/bg1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 120%;
}
/* line 373, ../sass/style.scss */
.hero-main_content {
  width: 90%;
  max-width: 1200px;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Safari, Opera */
  transform: translate(-50%, -50%);
  color: #ffffff;
}
/* line 378, ../sass/style.scss */
.hero-main_content-main_title {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  margin-bottom: 5%;
}
/* line 385, ../sass/style.scss */
.hero-main_content-play_video {
  font-size: 3.0rem;
  color: #ded9b9;
  margin-top: 10px;
}
/* line 390, ../sass/style.scss */
.hero-main_content-stripline {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  font-size: 2.5rem;
  line-height: 3rem;
}
/* line 397, ../sass/style.scss */
.hero-main_content-events {
  font-size: 2.5rem;
  width: 300px;
  text-align: justify;
}
/* line 401, ../sass/style.scss */
.hero-main_content-events-header {
  font-size: 2.3rem;
  letter-spacing: 4px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
/* line 409, ../sass/style.scss */
.hero-main_content-events-hr {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin: 10px 0;
  clear: both;
}
/* line 416, ../sass/style.scss */
.hero-main_content-events-item {
  width: 100%;
  padding: 0 10px;
}
/* line 420, ../sass/style.scss */
.hero-main_content-events-date {
  font-weight: 300;
  line-height: 35px;
}
/* line 424, ../sass/style.scss */
.hero-main_content-events .button {
  width: 100%;
  font-size: 1.4rem;
}
/* line 430, ../sass/style.scss */
.hero-partners {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
/* line 434, ../sass/style.scss */
.hero-partners > img {
  float: left;
}
/* line 437, ../sass/style.scss */
.hero-partners h4 {
  margin-bottom: 10px;
  padding-left: 20px;
}
/* line 441, ../sass/style.scss */
.hero-partners-container {
  float: left;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  margin: 25px 0 0 20px;
}
/* line 446, ../sass/style.scss */
.hero-partners-container img {
  height: 40px;
  margin: 0 15px;
}
/* line 452, ../sass/style.scss */
.hero-social {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: center;
}
/* line 457, ../sass/style.scss */
.hero-social h4 {
  margin-bottom: 10px;
}
/* line 460, ../sass/style.scss */
.hero-social-container {
  padding: 10px;
}
/* line 462, ../sass/style.scss */
.hero-social-container img {
  margin: 0 0px;
}

/* line 469, ../sass/style.scss */
.section {
  padding: 5%;
  position: relative;
}
/* line 472, ../sass/style.scss */
.section.second_bg {
  background-color: #eeecdc;
}

/* line 477, ../sass/style.scss */
.testimonials {
  margin: 60px 0;
}
/* line 479, ../sass/style.scss */
.testimonials-item {
  width: 22%;
  float: left;
  margin-right: 4%;
  background-color: #ffffff;
  height: 380px;
  position: relative;
  -moz-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.05);
}
/* line 487, ../sass/style.scss */
.testimonials-item:nth-of-type(4n) {
  margin: 0;
}
/* line 490, ../sass/style.scss */
.testimonials-item-photo {
  width: 100%;
  height: 130px;
  overflow: hidden;
  position: relative;
}
/* line 495, ../sass/style.scss */
.testimonials-item-photo img {
  width: 100%;
}
/* line 498, ../sass/style.scss */
.testimonials-item-photo::after {
  content: '';
  position: absolute;
  left: 15%;
  bottom: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #ffffff transparent;
}
/* line 511, ../sass/style.scss */
.testimonials-item-comment {
  width: 100%;
  padding: 20px;
  height: 180px;
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.6rem;
  overflow: hidden;
}
/* line 520, ../sass/style.scss */
.testimonials-item-author {
  color: #aca152;
  text-align: center;
  padding: 20px 0px;
  margin: 0 20px;
  border-top: 1px double #aca152;
}
/* line 527, ../sass/style.scss */
.testimonials-item-video {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  overflow: hidden;
  background-color: #000000;
}
/* line 537, ../sass/style.scss */
.testimonials-item-video > img {
  height: 100%;
  opacity: 0.7;
}
/* line 541, ../sass/style.scss */
.testimonials-item-video-play {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
  padding: 0 5%;
}
/* line 549, ../sass/style.scss */
.testimonials-item-video-play img {
  width: 40%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
/* line 556, ../sass/style.scss */
.testimonials-item-video-play span {
  display: block;
  font-size: 2.5rem;
  color: #ffffff;
}

/* line 566, ../sass/style.scss */
.calendar {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background: url("../gfx/bg2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 150%;
}
/* line 575, ../sass/style.scss */
.calendar strong {
  font-weight: 700;
}
/* line 578, ../sass/style.scss */
.calendar .button {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
/* line 583, ../sass/style.scss */
.calendar-logo {
  text-align: center;
}
/* line 586, ../sass/style.scss */
.calendar-event {
  width: 100%;
  background-color: #eeecdc;
  padding: 5px;
  margin-bottom: 20px;
}
/* line 591, ../sass/style.scss */
.calendar-event-icon {
  float: left;
}
/* line 594, ../sass/style.scss */
.calendar-event-date {
  display: block;
  margin-left: 30px;
  line-height: 48px;
  float: left;
  font-size: 1.6rem;
}
/* line 601, ../sass/style.scss */
.calendar-event-more {
  float: right;
  margin-top: 8px;
  margin-right: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
/* line 607, ../sass/style.scss */
.calendar-event-highlights {
  cursor: pointer;
}
/* line 610, ../sass/style.scss */
.calendar-event-dt {
  display: none;
}
/* line 613, ../sass/style.scss */
.calendar-event-details {
  width: 100%;
  margin-top: 10px;
  border-spacing: 5px;
  border-collapse: separate;
}
/* line 619, ../sass/style.scss */
.calendar-event-details tr {
  background-color: rgba(0, 0, 0, 0.02);
  margin-bottom: 10px;
}
/* line 623, ../sass/style.scss */
.calendar-event-details td {
  padding: 10px;
  border-spacing: 0px;
}
/* line 626, ../sass/style.scss */
.calendar-event-details td:first-of-type {
  text-align: right;
}
/* line 630, ../sass/style.scss */
.calendar-event-details table {
  width: 100%;
}
/* line 632, ../sass/style.scss */
.calendar-event-details table tr {
  background: none;
}
/* line 638, ../sass/style.scss */
.calendar-event.active .calendar-event-more {
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

/* line 645, ../sass/style.scss */
.subscribe {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background: url("../gfx/bg3.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 130%;
}
/* line 655, ../sass/style.scss */
.subscribe-form {
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Safari, Opera */
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  background-color: rgba(238, 236, 220, 0.7);
  padding: 50px;
  margin-bottom: 20px;
  -moz-box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0.3);
}
/* line 663, ../sass/style.scss */
.subscribe-form-header {
  font-size: 4.5rem;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 5px solid rgba(172, 161, 82, 0.2);
  font-weight: 300;
}
/* line 671, ../sass/style.scss */
.subscribe-form-input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  width: 100%;
  height: 45px;
  font-size: 1.8rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #bdbba2;
  line-height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  text-align: center;
  outline: none;
}
/* line 684, ../sass/style.scss */
.subscribe-form-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #231f20;
}
/* line 687, ../sass/style.scss */
.subscribe-form-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #231f20;
  opacity: 1;
}
/* line 691, ../sass/style.scss */
.subscribe-form-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #231f20;
  opacity: 1;
}
/* line 695, ../sass/style.scss */
.subscribe-form-input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #231f20;
}
/* line 698, ../sass/style.scss */
.subscribe-form-input:focus {
  border: 2px solid #aca152;
}
/* line 702, ../sass/style.scss */
.subscribe-form-textarea {
  height: 120px;
}
/* line 705, ../sass/style.scss */
.subscribe-form-fake_select {
  position: relative;
  z-index: 2;
}
/* line 708, ../sass/style.scss */
.subscribe-form-fake_select-select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  font-size: 1.8rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #bdbba2;
  line-height: 41px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  cursor: pointer;
  z-index: 3;
}
/* line 722, ../sass/style.scss */
.subscribe-form-fake_select-select.active, .subscribe-form-fake_select-select:hover {
  border: 2px solid #aca152;
}
/* line 724, ../sass/style.scss */
.subscribe-form-fake_select-select.active:after, .subscribe-form-fake_select-select:hover:after {
  border: 2px solid #aca152;
  color: #aca152;
}
/* line 729, ../sass/style.scss */
.subscribe-form-fake_select-select:after {
  content: '›';
  font-size: 3.0rem;
  padding-top: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #bdbba2;
  color: #bdbba2;
  position: absolute;
  right: 7px;
  top: 7px;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  line-height: normal;
  height: 28px;
  width: 28px;
  line-height: 19px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 7px;
  font-weight: 800;
}
/* line 749, ../sass/style.scss */
.subscribe-form-fake_select-options {
  display: none;
  position: absolute;
  top: 38px;
  background: rgba(172, 161, 82, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 5px 5px 5px;
  width: 100%;
}
/* line 757, ../sass/style.scss */
.subscribe-form-fake_select-options-option {
  width: 100%;
  padding: 5px;
  font-size: 1.6rem;
  cursor: pointer;
}
/* line 762, ../sass/style.scss */
.subscribe-form-fake_select-options-option:hover {
  background: #857e54;
}
/* line 768, ../sass/style.scss */
.subscribe-form button {
  width: 100%;
  -moz-box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0.3);
}

/* line 776, ../sass/style.scss */
.faq-item {
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid rgba(172, 161, 82, 0.3);
  cursor: pointer;
}
/* line 781, ../sass/style.scss */
.faq-item:last-of-type {
  border-bottom: 1px solid rgba(172, 161, 82, 0.3);
}
/* line 784, ../sass/style.scss */
.faq-item-question {
  font-size: 1.6rem;
}
/* line 787, ../sass/style.scss */
.faq-item-anwser {
  font-size: 1.5rem;
  color: #231f20;
  padding-left: 30px;
  position: relative;
  margin-top: 10px;
  display: none;
}
/* line 795, ../sass/style.scss */
.faq-item-anwser:before {
  content: "—";
  font-size: 2.0rem;
  letter-spacing: -5px;
  position: absolute;
  left: 0;
  top: -3px;
  color: #aca152;
}
/* line 806, ../sass/style.scss */
.faq-item.active .faq-item-question {
  font-weight: 700;
  color: #231f20;
}

/* line 814, ../sass/style.scss */
.footer {
  padding: 40px 0;
  background: #aca152;
  color: #fff;
  font-size: 1.8rem;
}
/* line 820, ../sass/style.scss */
.footer-partners img {
  height: 70px;
  margin-right: 20px;
}
/* line 825, ../sass/style.scss */
.footer-header {
  color: #fff;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 10px;
  border-bottom: 5px solid rgba(238, 236, 220, 0.3);
  width: auto;
  display: inline-block;
  margin-bottom: 15px;
}
/* line 837, ../sass/style.scss */
.footer-copyrights {
  margin-top: 20px;
  font-size: 1.1rem;
  border-top: 1px solid rgba(238, 236, 220, 0.3);
  padding-top: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 845, ../sass/style.scss */
.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 849, ../sass/style.scss */
.footer-menu li {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 32px;
}
/* line 853, ../sass/style.scss */
.footer-menu li:last-of-type {
  margin-right: 0;
}
/* line 858, ../sass/style.scss */
.footer-newsletter {
  margin-bottom: 30px;
  position: relative;
  top: -5px;
}
/* line 862, ../sass/style.scss */
.footer-newsletter-input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  width: 60%;
  height: 45px;
  font-size: 1.5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #fff;
  line-height: 30px;
  background-color: transparent;
  text-align: center;
  outline: none;
  color: #fff;
}
/* line 875, ../sass/style.scss */
.footer-newsletter-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
/* line 878, ../sass/style.scss */
.footer-newsletter-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
/* line 882, ../sass/style.scss */
.footer-newsletter-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
/* line 886, ../sass/style.scss */
.footer-newsletter-input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}
/* line 890, ../sass/style.scss */
.footer-newsletter-button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  width: 35%;
  margin-left: 3%;
  height: 45px;
  font-size: 1.6rem;
  line-height: 35px;
  background-color: #fff;
  color: #aca152;
  text-align: center;
  border: 0px;
  text-transform: uppercase;
}
