/*Constants and Mixins*/
/* Base */
/*MazikCSSceleton*/
/* line 42, ../sass/style.scss */
html {
  font-size: 62.5%;
}

/* line 44, ../sass/style.scss */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  color: #231f20;
  font-size: 1.3rem;
}

/* line 52, ../sass/style.scss */
div, p {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 56, ../sass/style.scss */
a, a:link, a:hover {
  color: #231f20;
  text-decoration: none;
}

/* line 62, ../sass/style.scss */
.f8 {
  font-size: 0.8rem !important;
}

/* line 62, ../sass/style.scss */
.f9 {
  font-size: 0.9rem !important;
}

/* line 62, ../sass/style.scss */
.f10 {
  font-size: 1rem !important;
}

/* line 62, ../sass/style.scss */
.f11 {
  font-size: 1.1rem !important;
}

/* line 62, ../sass/style.scss */
.f12 {
  font-size: 1.2rem !important;
}

/* line 62, ../sass/style.scss */
.f13 {
  font-size: 1.3rem !important;
}

/* line 62, ../sass/style.scss */
.f14 {
  font-size: 1.4rem !important;
}

/* line 62, ../sass/style.scss */
.f15 {
  font-size: 1.5rem !important;
}

/* line 62, ../sass/style.scss */
.f16 {
  font-size: 1.6rem !important;
}

/* line 62, ../sass/style.scss */
.f17 {
  font-size: 1.7rem !important;
}

/* line 62, ../sass/style.scss */
.f18 {
  font-size: 1.8rem !important;
}

/* line 62, ../sass/style.scss */
.f19 {
  font-size: 1.9rem !important;
}

/* line 62, ../sass/style.scss */
.f20 {
  font-size: 2rem !important;
}

/* line 62, ../sass/style.scss */
.f21 {
  font-size: 2.1rem !important;
}

/* line 62, ../sass/style.scss */
.f22 {
  font-size: 2.2rem !important;
}

/* line 62, ../sass/style.scss */
.f23 {
  font-size: 2.3rem !important;
}

/* line 62, ../sass/style.scss */
.f24 {
  font-size: 2.4rem !important;
}

/* line 62, ../sass/style.scss */
.f25 {
  font-size: 2.5rem !important;
}

/* line 62, ../sass/style.scss */
.f26 {
  font-size: 2.6rem !important;
}

/* line 62, ../sass/style.scss */
.f27 {
  font-size: 2.7rem !important;
}

/* line 62, ../sass/style.scss */
.f28 {
  font-size: 2.8rem !important;
}

/* line 62, ../sass/style.scss */
.f29 {
  font-size: 2.9rem !important;
}

/* line 62, ../sass/style.scss */
.f30 {
  font-size: 3rem !important;
}

/* line 62, ../sass/style.scss */
.f31 {
  font-size: 3.1rem !important;
}

/* line 62, ../sass/style.scss */
.f32 {
  font-size: 3.2rem !important;
}

/* line 62, ../sass/style.scss */
.f33 {
  font-size: 3.3rem !important;
}

/* line 62, ../sass/style.scss */
.f34 {
  font-size: 3.4rem !important;
}

/* line 62, ../sass/style.scss */
.f35 {
  font-size: 3.5rem !important;
}

/* line 62, ../sass/style.scss */
.f36 {
  font-size: 3.6rem !important;
}

/* line 62, ../sass/style.scss */
.f37 {
  font-size: 3.7rem !important;
}

/* line 62, ../sass/style.scss */
.f38 {
  font-size: 3.8rem !important;
}

/* line 62, ../sass/style.scss */
.f39 {
  font-size: 3.9rem !important;
}

/* line 62, ../sass/style.scss */
.f40 {
  font-size: 4rem !important;
}

/* line 66, ../sass/style.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 73, ../sass/style.scss */
.content {
  max-width: 960px;
  width: 100%;
}

/* line 79, ../sass/style.scss */
.twenty-five-box {
  width: 25%;
}

/* line 80, ../sass/style.scss */
.thirty-box {
  width: 30%;
}

/* line 81, ../sass/style.scss */
.thirty-two-box {
  width: 32%;
}

/* line 82, ../sass/style.scss */
.thirty-three-box {
  width: 33.33%;
}

/* line 83, ../sass/style.scss */
.thirty-five-box {
  width: 35%;
}

/* line 84, ../sass/style.scss */
.fourty-box {
  width: 40%;
}

/* line 85, ../sass/style.scss */
.fourty-five-box {
  width: 45%;
}

/* line 86, ../sass/style.scss */
.half-box {
  width: 50%;
}

/* line 87, ../sass/style.scss */
.sixty-five-box {
  width: 65%;
}

/* line 88, ../sass/style.scss */
.sixty-box {
  width: 60%;
}

/* line 89, ../sass/style.scss */
.seventy-box {
  width: 70%;
}

/* line 90, ../sass/style.scss */
.seventy-five-box {
  width: 75%;
}

/* line 91, ../sass/style.scss */
.width100 {
  width: 100%;
}

/* line 94, ../sass/style.scss */
.right {
  float: right;
}

/* line 95, ../sass/style.scss */
.left {
  float: left;
}

/* line 96, ../sass/style.scss */
.no-float {
  float: none !important;
}

/* line 97, ../sass/style.scss */
.cl {
  clear: both;
  width: 100%;
}

/* line 100, ../sass/style.scss */
.align-center {
  text-align: center;
}

/* line 101, ../sass/style.scss */
.align-left {
  text-align: left;
}

/* line 102, ../sass/style.scss */
.align-right {
  text-align: right;
}

/* line 103, ../sass/style.scss */
.align-justify {
  text-align: justify;
}

/* line 106, ../sass/style.scss */
.no-margin {
  margin: 0px !important;
}

/* line 107, ../sass/style.scss */
.no-margin-top {
  margin-top: 0px !important;
}

/* line 108, ../sass/style.scss */
.big-vertical-separator {
  margin: 30px 0;
}

/* line 109, ../sass/style.scss */
.vertical-separator {
  margin: 10px 0;
}

/* line 110, ../sass/style.scss */
.margin-top {
  margin-top: 15px;
}

/* line 111, ../sass/style.scss */
.margin-top-half {
  margin-top: 8px;
}

/* line 112, ../sass/style.scss */
.margin-top-quarter {
  margin-top: 4px;
}

/* line 113, ../sass/style.scss */
.margin-bottom {
  margin-bottom: 15px;
}

/* line 114, ../sass/style.scss */
.margin-bottom-quarter {
  margin-bottom: 4px;
}

/* line 115, ../sass/style.scss */
.margin-right {
  margin-right: 10px;
}

/* line 116, ../sass/style.scss */
.margin-left {
  margin-left: 10px;
}

/* line 117, ../sass/style.scss */
.margin-right5 {
  margin-right: 5px;
}

/* line 118, ../sass/style.scss */
.margin-left5 {
  margin-left: 5px;
}

/* line 119, ../sass/style.scss */
.margin-vertical {
  margin: 10px auto;
}

/* line 120, ../sass/style.scss */
.margin-vertical20 {
  margin: 20px auto;
}

/* line 121, ../sass/style.scss */
.margin-horizontal {
  margin: 0px 10px;
}

/* line 122, ../sass/style.scss */
.auto {
  margin: auto;
}

/* line 125, ../sass/style.scss */
.none {
  display: none;
}

/* line 126, ../sass/style.scss */
.inline {
  display: inline;
}

/* line 127, ../sass/style.scss */
.block {
  display: block !important;
}

/* line 128, ../sass/style.scss */
.inline-block {
  display: inline-block !important;
}

/* line 131, ../sass/style.scss */
.padding5 {
  padding: 5px;
}

/* line 132, ../sass/style.scss */
.padding10 {
  padding: 10px;
}

/* line 133, ../sass/style.scss */
.padding15 {
  padding: 15px;
}

/* line 134, ../sass/style.scss */
.padding20 {
  padding: 20px;
}

/* line 135, ../sass/style.scss */
.no-padding {
  padding: 0px !important;
}

/* line 136, ../sass/style.scss */
.no-padding-left {
  padding-left: 0px !important;
}

/* line 137, ../sass/style.scss */
.no-padding-right {
  padding-right: 0px !important;
}

/* line 138, ../sass/style.scss */
.no-vertical-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 141, ../sass/style.scss */
.lowercase {
  text-transform: none;
}

/* line 142, ../sass/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 143, ../sass/style.scss */
.b400 {
  font-weight: 400;
}

/* line 144, ../sass/style.scss */
.b700 {
  font-weight: 700;
}

/* line 145, ../sass/style.scss */
.b900 {
  font-weight: 900;
}

/* line 148, ../sass/style.scss */
.relative {
  position: relative;
}

/* line 149, ../sass/style.scss */
.absolute {
  position: absolute;
}

/* line 150, ../sass/style.scss */
.vertical-align-top {
  vertical-align: top;
}

/* line 151, ../sass/style.scss */
.fixed {
  position: fixed;
}

/* line 153, ../sass/style.scss */
.top1 {
  top: 1px !important;
}

/* line 153, ../sass/style.scss */
.top2 {
  top: 2px !important;
}

/* line 153, ../sass/style.scss */
.top3 {
  top: 3px !important;
}

/* line 153, ../sass/style.scss */
.top4 {
  top: 4px !important;
}

/* line 153, ../sass/style.scss */
.top5 {
  top: 5px !important;
}

/* line 153, ../sass/style.scss */
.top6 {
  top: 6px !important;
}

/* line 153, ../sass/style.scss */
.top7 {
  top: 7px !important;
}

/* line 153, ../sass/style.scss */
.top8 {
  top: 8px !important;
}

/* line 153, ../sass/style.scss */
.top9 {
  top: 9px !important;
}

/* line 153, ../sass/style.scss */
.top10 {
  top: 10px !important;
}

/* line 157, ../sass/style.scss */
.core-color {
  color: #aca152;
}

/* line 158, ../sass/style.scss */
.core-color-bg {
  color: #aca152;
}

/* Layout */
/* line 163, ../sass/style.scss */
h1 {
  font-size: 40px;
}

/* line 167, ../sass/style.scss */
button {
  display: inline-block;
  border: 0;
  padding: 20px 10px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #aca152;
  -moz-box-shadow: 4px 5px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 5px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 4px 5px 0 0 rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

/* Modules */
/* line 184, ../sass/style.scss */
.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #aca152;
}
/* line 190, ../sass/style.scss */
.header-top_nav {
  text-align: center;
}
/* line 192, ../sass/style.scss */
.header-top_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 197, ../sass/style.scss */
.header-top_nav-item {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0 3%;
}
/* line 204, ../sass/style.scss */
.header-top_nav-item a {
  color: #ffffff;
}

/* line 211, ../sass/style.scss */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  background: url("../gfx/bg1.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center top;
}
/* line 220, ../sass/style.scss */
.hero-powered {
  position: absolute;
  top: 80px;
  right: 3%;
}
/* line 225, ../sass/style.scss */
.hero-main_content {
  width: 90%;
  max-width: 1200px;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Safari, Opera */
  transform: translate(-50%, -50%);
  color: #ffffff;
}
/* line 235, ../sass/style.scss */
.hero-main_content-main_title {
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin-bottom: 5%;
}
/* line 242, ../sass/style.scss */
.hero-main_content-events {
  font-size: 25px;
  width: 300px;
  text-align: justify;
}
/* line 246, ../sass/style.scss */
.hero-main_content-events-header {
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: 900;
  margin-bottom: 10px;
}
/* line 252, ../sass/style.scss */
.hero-main_content-events-hr {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin: 10px 0;
  clear: both;
}
/* line 259, ../sass/style.scss */
.hero-main_content-events-item {
  width: 100%;
  padding: 0 10px;
}
/* line 263, ../sass/style.scss */
.hero-main_content-events-date {
  font-weight: 300;
  line-height: 35px;
}
/* line 267, ../sass/style.scss */
.hero-main_content-events button {
  width: 100%;
}
